.about {
    width: 100%;
    background: #FFFFFF;
    }
    .main-section {
    width: 100%;
    height: 467px;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
    display: flex;
    margin-top: 186px;
    }
    .left-img {
      margin-left: 205px;
    }
    .right-text {
      width: 447px;
      height: 254px;
      margin-left: 200px;
      margin-top: 107px;
    }
    .right-text h2 {
      font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 27px;
    color: #0E2368;
    margin-bottom: 27.41px;
    }
    .right-text p {
      font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #444957;
    }
    .about-btn {
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    width: 132px;
    height: 42px;
    background: #E23744;
    border-radius: 21px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 25px;
    border: none;
    }

    @media (max-width: 376px) {

        .about {
            width: 100%;
            background: #FFFFFF;
            margin-top: -200px;
            height: 516px;
          }
          
          .main-section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          
          .left-img {
           display: none;
          }
          
          .right-text {
            width: 275px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
          }
          
          .right-text h2 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 20px;
          }
          
          .right-text p {
            font-size: 11px;
            line-height: 21px;
          }
          
          .about-btn {
         font-size: 11px;
        letter-spacing: 0.03em;
        padding: 0;
        width: 96px;
        height: 25px;
        margin-left: 90px;
        border: none;
        
          }
    }